body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f0f8ff;
  margin: 0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}
#box {
  display: flex;
  padding-bottom: 20px;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(75% - 22px);
  text-align: center;
  size: 10;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.card {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

h2 {
  margin: 10px 0;
}
.id_cont {
  size: 5px;
}
.c {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
.c:hover {
  transition: 2s;
  background-color: rgba(128, 128, 128, 0.068);
  border: 1px solid rgba(0, 0, 0, 0.774);
}
